@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
body{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
/* header_start */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
    padding: 16px 0;
}
.head_inner{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo, .menu{
    width: 50%;
    margin: 0 auto;
}
.logo a{
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: blue;
}
.logo a:hover, .menu li a:hover{
    color: #8a2be2;
}
.menu ul{
    display: flex;
    justify-content: space-around;
}
.menu li a{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
}
/* header_end */

/* banner_start */
#banner{
    padding: 160px 0;
}
.banner_inner{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.banner_inner h4{
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}
.banner_inner h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
span{
    text-transform: uppercase;
    color: #8a2be2;
}
.banner_inner p{
    font-size: 14px;
    margin: 0 0 40px 0;
}
.banner_link a{
    background-color: blue;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0 10px;
}
.banner_link a:hover{
    background-color: #8a2be2;
}
/* banner_end */

/* about_start */
#about{
    background-color: ;
    padding: 100px 0;
}
.about_inner{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.about_inner h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 40px 0;
}
.about_content{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.about_lef{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about_img{
    width: 300px;
}
.about_img img{
    width: 100%;
}
.about_para{
    width: 50%;
    text-align: left;
    margin: 0 auto;
}
.about_para h4{
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.about_para p{
    font-size: 14px;
    margin: 0 0 18px 0;
}
.about_link{
    background-color: #333;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 4px
}
.about_link a{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
/* about_end */

/* hire_me */
.hire{
    background-color: #000;
    padding: 80px 0;
}
.hire_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hire_inner p{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    margin: 0 0 20px 0;
}
.hire_link{
    background-color: #8a2be2;
    padding: 6px 16px;
    display: inline-block;
    border-radius: 4px;
}
.hire_link a{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
/* hire_me */

/* portfolio_start */
#portfolio{
    background-color: ;
    padding: 100px 0;
}
.portfolio_inner{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.portfolio_inner h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 40px 0;
}
.portfolio_imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio_imgs a img{
    width: 322px;
    height: 240px;
    overflow: hidden;
    margin-bottom: 10px;
}
.portfolio_imgs a img:hover{
    background-color: aqua;
    box-shadow: 0 10px  70px rgb(0 0 0 / 10%);
    padding: 8px;
}
/* portfolio_end */

/* contact_start */
#contact{
    background-color: rgb(242, 241, 241);
    padding: 100px 0;
}
.contact_inner{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.contact_inner h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 40px 0;
}
.contact_details{
    width: 28%;
    text-align: left;
    margin: 0 auto;
}
form{
  margin: 0 0 20px 0;  
}
form h4{
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0 10px 0 0;
}
input, textarea{
    width: 90%;
    font-size: 12px;
    color: #333;
    text-transform: capitalize;
    text-align: left;
    padding: 6px 20px 8px 4px;
    outline: none;
    border: none;
    margin: 0 auto;
}
textarea{
    width: 280px;
    height: 90px;
}
.contact_details a{
    background-color: #8a2be2;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
}
/* contact_end */

/* footer_start */
footer{
    background-color: #000;
    padding: 40px 0;
}
.footer_top, .footer_bottom{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 10px 0;
    margin: 0 auto;
}
.footer_para h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px 0;
}
.footer_para p{
    width: 40%;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
}
.social_link{
    margin: 0 0 30px 0;
}
.social_link h4{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin: 0 0 6px 0;
}
.footer_link{
    display: inline-block;
    margin: 0 4px;
}
.fb{
    background: url("../images/cowsprite.png") no-repeat -141px -127px;
	width: 14px;
	height: 26px;
}
.insta{
    background: url("../images/cowsprite.png") no-repeat -135px -174px;
	width: 32px;
	height: 32px;
}
.linkedin{
    background: url("../images/cowsprite.png") no-repeat -137px -267px;
	width: 26px;
	height: 26px;
}
.twit{
    background: url("../images/cowsprite.png") no-repeat -133px -227px;
	width: 32px;
	height: 26px;
}
.footer_bottom h2{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 10px 0;
}
.footer_bottom span{
    text-transform: uppercase;
    text-decoration: underline;
    color: #8a2be2;
}
hr{
    color: #333;
    opacity: 0.2;
}
/* footer_end */